<% products.each do |product| %>

  <div class="col-xs-4 col-sm-4">
    <div class="box-part text-center">

      <div class="title">
        <h4><%= product.title %></h4>
      </div>

      <div class="text">
        <span><%= product.description %></span>
      </div>

      <div class="text">
        <span><%= product.country %></span>
      </div>

      <div class="text">
        <span><%= number_to_currency(product.price, :unit => "$") %></span>
      </div>

      <% product.tags.each do |tag| %>
        <button class="btn-primary btn-margin">
          <%= tag.title %>
        </button>
      <% end %>

    </div>
  </div>

<% end %>
